.Container {
  position: relative;
  min-height: 100%;
  padding: 0.5rem 0.5rem 0;
}

.Header {
  display: flex;
  height: 1.875rem;
  align-items: center;
  padding: 0 0.375rem 0 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius-default-tiny);

  .headerTitle {
    font-size: 12px;
  }

  .addSectionButton {
    margin-left: auto;
    padding: 0.25rem;
    border-radius: var(--border-radius-default-tiny);
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: var(--color-chat-hover);
    }
  }

  &.selected {
    background-color: var(--color-telegram-blue);
    color: white;

    i {
      color: white;

      &:hover {
        background-color: unset;
      }
    }
  }
}

.Chats {
  > * + * {
    margin-top: 1px;
  }

  &:has(> *) {
    margin-bottom: 1rem;
  }
}

.Sections {
  > * + * {
    margin-top: 1px;
  }
}



.Sidebar {
  position: absolute;
  z-index: 999;
  top: 1rem;
  right: -2rem;
  background-color: aqua;
}

.Link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;

  :global(.icon) {
    color: var(--color-links);
  }

  .linkTitle {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.LinkIconContainer {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius-forum-avatar);
  background-color: rgba(var(--color-links-rgb), 0.1);
  cursor: pointer;

  transition: background-color 0.15s ease-in-out;

  img {
    height: 1rem;
    width: 1rem;
    transition: all 0.15s ease-in-out;
  }

  &.withFavicon {
    background-color: var(--color-chat-hover);
  }
}

.CustomListItem {
  :global(.ListItem-button) {
    padding: 0;
    min-height: 0;

    &:hover {
      background-color: var(--color-chat-hover);
    }
  }

  &.selected {
    :global(.ListItem-button) {
      background-color: var(--color-telegram-blue);
      color: white;

      i {
        color: white;
      }
    }

    .LinkIconContainer {
      background-color: transparent;

      img {
        transform: scale(1.2);
      }

      &.withFavicon {
        background-color: transparent;
      }
    }
  }
}
