.Container {
  width: 100%;
}

.Header {
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: 100%;
  height: 1.875rem;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-default-tiny);

  font-weight: var(--font-weight-medium);

  transition: all 0.15s ease;

  &:hover {
    background-color: var(--color-chat-hover);

    &.sidebarTab {
      color: #6B6B6B;
      background-color: var(--color-background-secondary);
    }
    i {
      opacity: 1;
    }
  }

  &:active {
    background-color: rgba(40, 40, 40, 0.8);
  }

  &.selected {
    background-color: var(--color-telegram-blue);

    :global(.icon) {
      color: white;

      &:hover {
        color: var(--color-telegram-blue);
        background-color: white;
      }
    }

    .title {
      color: white;
    }
  }

  &.section {
    .title {
      font-size: 0.75rem;
    }
  }

  &.sidebarTab {
    .title {
      color: #6B6B6B;
    }
  }

  .title {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
  }

  :global(.icon) {
    padding: 0.125rem;
    border-radius: var(--border-radius-default-tiny);
    color: var(--color-text-secondary);
    transition: all 0.15s ease;

    &:hover {
      background-color: var(--color-borders);
    }

    &.rotate {
      transform: rotate(-90deg);
    }
  }
}

:global(.icon) {

  &.rotate {
    transform: rotate(-90deg);
  }
}

.Actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;

  :global(.icon) {
    opacity: 0;
  }
}

.Inner {
  margin-top: 1px;
  padding-bottom: 0.5rem;

  > * + * {
    margin-top: 1px;
  }

  &.insetInner {
    padding-left: 0.5rem;
  }
}

.EditingContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 0.5rem;

  .editingLeftIcon {
    color: var(--color-links);
  }

  input {
    width: 100%;
    padding-left: 0.5rem;
    border: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius-default-tiny);

    font-size: 0.875rem;

    background: var(--color-button);
    outline: none;
    caret-color: var(--color-links);



    &:focus {
      border-color: var(--color-links);
    }
  }
}

:global(.ListItem-button) {
  min-height: unset !important;
  padding: 0 !important;
}

:global(.Chat .ListItem-button) {
  padding: 0.25rem 0.5rem !important;
}
